*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background-color: rgb(232, 232, 238);
    border-radius: .5px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-3{
   padding-right: 70px;
}

.nav-3, img{
    height: 70px;
    width: 150px;
}

.socialmedia{
    height: 50px;
    width: 200px;
}
.nav-1{
    margin-right: 15px;
}

.socialmedia, a{
    margin-left: 25px;
    padding-top: 10px;
}

.nav-2{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.nav-2 , i{
    padding-right: 6px;
}

.nav-2 , p{
    margin-top: -3px;
    font-family: 'Jost', sans-serif;
    color:  black;
}

/* home */

.home{
    background-color: rgb(12, 65, 92);
    padding: 15px;
}
.home1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home11, a{
    color: white;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    
}

.phone{
    color: white;
    padding: -2px;
}
.mail{
    color: white;
}

.imge{
    height: 600px;
    width: 1380px;
}

/* Services */

.ourservice h3{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 600px;
    margin-bottom: 10px;
}
.ourservice p{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 100px;
}

.eservices{
    height: 400px;
}

.eservices2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.safety img{
    height: 250px;
    width: 400px;
}

.safe{
    border: 2px solid black;
}
.safe p{
    font-weight: bolder;
    font-size: large;
}
.cusserve{
    border: 2px solid black;
}
.cusserve p{
    font-weight: bolder;
    font-size: large;
}
.integri{
    border: 2px solid black;
}
.integri p{
    font-weight: bolder;
    font-size: large;
}
.customers img{
    height: 250px;
    width: 400px;
}
.integrity img{
    height: 250px;
    width: 400px;
}

.projectwork{
    background-color: rgb(39, 34, 34);
    height: 200px;
}

.projectwork2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.totalproject{
    margin-top: 60px;
    
}

.totalproject i{
    font-size: 30px;
    margin-bottom: 17px;
}
.totalproject, p{
    
}

.colory{
    color: yellow;
    font-size: 22px;
    font-weight: bolder;
}

.projecticon{
    margin-left: 45px;
}

.projecticon2{
    margin-left: 45px;
}

.projecticon3{
    margin-left: 75px;
}
.projecticon4{
    margin-left: 100px;
}

.projectpara{
    color: white;
    margin-left: 38px;
    font-size: 22px;
    font-weight: bolder;
}

.staffpara{
    color: white;
    margin-left: 45px;
    font-size: 22px;
    font-weight: bolder;
}

.workpara{
    color: white;
    margin-left: 65px;
    font-size: 22px;
    font-weight: bolder;
}

.countriespara{
    color: white;
    margin-left: 105px;
    font-size: 22px;
    font-weight: bolder;
}

/* our products */

section{
    margin-top: 80px;
}
.ourproduct{
    height: 25px;
    font-size: 30px;
    text-align: center;
}
.construction1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hconstruction{
    margin-bottom: 200px;
}
.hdiv{
    height: 80px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.hdiv h4{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Jost', sans-serif;
}
.hdiv img{
    height: 150px;
    width: 300px;
}

.hdiv img:hover{
    cursor: pointer;
}

.renovation{
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.nav-testimonal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.quote{
    width: 500px;
}
.text1 p{
    font-family: 'Jost', sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.clientt{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.sponsor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 600px;
}

.box{
    border: 1px solid grey;
    height: 80px;
    width: 150px;
}
.sponsor1{
    margin-bottom: 10px;
}
.nav-testimonal{
    margin-bottom: 80px;
}

/* Signupwindow */
.sigupsec{
    padding-top: 05px;
    margin-bottom: 100px;
}
.wehelp{
    background-color: rgb(44, 113, 113);
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}
.newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

input{
    height: 30px;
    width: 350px;
    margin-left: 25px;
}
.cwhelp{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cwhite{
    color: white;
}
.white{
    color: white;
    font-weight: 100px;
}




/* aboutsection */

.f2 p{
    text-align: center;
    font-size: 35px;
}

.fd{
    margin-top: 3px;
}

.fd p{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.f4{
    width: 600px;
    margin-left: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.f4 p{
    text-align: center;
}

.i6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.i6 img{
    height: 100px;
    width: 200px;
    border-radius: 2px;
    margin-top: 10px;
}
.i6 p{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

/* footer  */
.main{
    margin-top: 20px;
    background-color: aquamarine;
}
.main1{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgl{
    padding-top: 20px;

}

.marginandpadding{
    font-family: 'Jost', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}

.time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.day p{
    font-weight: bolder;

}
.socialf p{
    font-weight: bold;
}
.flex{
    display: flex;
    flex-direction: row;
}
.time9 p{
    font-weight: bolder;
}

/* addressSection */
.addh{
    margin-bottom: 10px;
}
.add1{
    padding-bottom: 05px;
    margin-bottom: 5px;
}
.add1 h5{
    font-family: 'Jost', sans-serif;
    padding-bottom: 8px;
    font-size: 15px;
}
.location1 i{
    padding-bottom: 1px;
}
.location1 p{
    padding-top: px;
    padding-bottom: 2px;

}
.call1{
    padding-top: 2px;
    padding-bottom: 2px;
}
.addres2{
    padding-bottom: 05px;
    margin-bottom: 5px;
}

.addres2 h5{
    font-family: 'Jost', sans-serif;
    padding-bottom: 2px;
    font-size: 15px;
}
.location2{
    padding-top: 2px;
    
}

.secmain{
    background-color: black;
}

.firstprivate{
    padding-top: 25px;
    display: flex;
    
    
}
.pri{
    width: 100px;
    padding: 10px;
}
.pri p{
    color: white;
}
.pri p:hover{
    color: rgb(209, 206, 206);
    cursor: pointer;
}
.secu{
    width: 100px;
    padding: 10px;
}
.secu p{
    color: white;
}

.secu p:hover{
    color: rgb(209, 206, 206);
    cursor: pointer;
}
.tandc{
    width: 150px;
    padding: 10px;
}
.tandc p{
    color: white;
}

.tandc p:hover{
    color: rgb(209, 206, 206);
    cursor: pointer;
}

.private{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.copyright{
    padding-top: 25px;
}
.copyright p{
    color: white;
}